{% extends 'base.html' %}

{% block content %}

<h1>Home</h1>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis eos a in error unde aperiam quisquam necessitatibus. Quibusdam similique sit tempore pariatur quam repudiandae ratione, inventore eos exercitationem ullam, blanditiis sapiente odio quos! Id, consequuntur deserunt eaque nisi voluptate expedita quos! Illum ipsam blanditiis impedit eveniet labore architecto fuga accusantium sint explicabo facere neque veritatis magni aperiam perferendis omnis quod laudantium laboriosam, esse quo beatae natus, aut, nemo quam! Perferendis veritatis dolores aspernatur veniam expedita, dolorum tempora maiores. Non saepe beatae maxime ea soluta maiores dolorum suscipit quis sed quo fugiat iste ex distinctio neque esse voluptatem, illum laudantium deleniti!
</p>

{% endblock %}